{% extends 'index.html' %}
{% load productos_extras %}

{% block title %}Buscar Productos{% endblock %}

{% block contenido %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <h1>Buscar Productos</h1>
        <form method="GET" action="{% url 'crud:buscar_productos' %}">
            <input type="text" name="q" value="{{ query }}" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>

        {% if query %}
        <ul>
            {% for producto in productos %}
            <li>{{ producto.nombre }} - ${{ producto.precio }}
                <form method="post" action="{% url 'crud:agregar_producto' producto.id %}">
                    {% csrf_token %}
                    <button type="submit">Agregar a la factura</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if productos_factura %}
        <h2>Factura</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for producto, subtotal in productos_factura_subtotal.items %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>
                        <form method="POST" action="{% url 'crud:actualizar_cantidad' producto.id %}">
                            {% csrf_token %}
                            <button type="submit" name="action" value="decrementar">-</button>
                            <input type="hidden" name="cantidad" value="{{ factura|get_item:producto.id }}">
                            {{ factura|get_item:producto.id }}
                            <button type="submit" name="action" value="incrementar">+</button>
                        </form>
                    </td>
                    
                    <td>${{ producto.precioVenta }}</td>
                    <td>${{ subtotal }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"><strong>Total</strong></td>
                    <td><strong>${{ total_factura }}</strong></td>
                </tr>
            </tbody>
        </table>

        <!-- Formulario para guardar la factura -->
        <h2>Guardar Factura</h2>
        <form method="post" action="{% url 'crud:guardar_factura' %}">
            {% csrf_token %}
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required><br>
            <label for="cliente">Cliente:</label>
            <input type="text" id="cliente" name="cliente" required><br>
            <label for="total">Total</label>
            <input type="text" name="total" id="total" required value="{{ total_factura }}" readonly><br>

            <button type="submit">Guardar Factura</button>
        </form>


        {% endif %}
    </div>
</div>
{% endblock %}
