{% extends 'index.html' %}

{% block titulo %}
    Marca
{% endblock %}

{% block contenido %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Crear Marca</h1>
                <br>
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_nombre" class="form-label">Nombre</label>
                        {{ form.nombre }}
                        <div class="invalid-feedback">
                            El nombre es obligatorio.
                        </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
