{% extends 'index.html' %}
{% load bootstrap5 %}

{% block titulo %}
Categorias
{% endblock %}

{% block contenido %}
<div class="container col-3 mt-1">
    <h1 class="text-center">Nueva categoria</h1>
    <form class="mt-5" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <div class="d-flex justify-content-evenly mt-2">
            <a href="{% url 'crud:verCategoria' %}">
                <button type="button" class="btn btn-secondary">Cancelar</button>
            </a>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        {% endbuttons %}
    </form>
</div>
{% endblock %}