{% extends 'index.html' %}
{% load bootstrap5 %}

{% block titulo %}
    Marca
{% endblock %}

{% block contenido %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="boton-crear-producto">
                <a href="{% url 'crud:verMarca' %}">
                    <button class="btn border-0 rounded btn-primary  p-3 float-end">
                        Listar Marca
                    </button>
                </a>
            </div>
            <div class="col-md-6">
                <h1 class="text-center">Crear Marca</h1>
                <br>
                <form method="POST" class="needs-validation  p-5 rounded" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form layout='vertical' %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
