{% extends 'index.html' %}
{% block title %}Detalle de Factura{% endblock %}

{% block contenido %}
<br>
<div class="container">
    <div class="row justify-content-center">

        <div class="boton-crear-producto">
            <a href="{% url 'crud:ver_facturas' %}">
                <button class="btn border-0 rounded btn-primary  p-3 float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                      </svg>
                      Volver a Facturas
                </button>
            </a>
        </div>
        <div class="col-md-6 text-center">

        <h1 class="text-center">Detalle de Factura</h1>
        <table class="table">
            <thead class="bg-dark text-white text-center">

                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">SubTotal</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalle_factura %}
                <tr class="text-center">
                    <td>{{ detalle.producto.nombre }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.precio }}</td>
                    <td>{{ detalle.subtotal }}</td>
                </tr>
                {% endfor %}
            </tbody>
                
        </table>
    </div>
        
    </div>
</div>
{% endblock %}