{% extends 'index.html' %}

{% block titulo %}
Productos
{% endblock %}

{% block contenido %}
<br>
<div class="container">
    <div class="row justify-content-center">

        <div class="boton-crear-producto">
            <a href="{% url 'crud:crearProducto' %}">
                <button class="btn border-0 rounded btn-primary  p-3 float-end">
                    Agregar nuevo producto
                </button>
            </a>
        </div>

        <div class="col-md-6 text-center">
            <h1 class="text-center">Listar Productos</h1>


            <table class="table ">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio Venta</th>
                        <th scope="col">Precio Compra</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr class="text-center">
                        <th scope="row">{{ producto.id }}</th>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precioVenta }}</td>
                        <td>{{ producto.precioCompra }}</td>
                        <td>{{ producto.marca.nombre }}</td>
                        <td>{{ producto.categoria.nombre }}</td>

                        <td>{{ producto.stock }}</td>
                        <td>{{ producto.estado }}</td>
                        <td class="actions text-center">
                            <a href="{% url 'crud:editarProducto' producto.id %}"">

                                <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                                class="bi bi-pen text-center" viewBox="0 0 16 16" style="cursor: pointer;">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                </svg>
                            </a>
                            <a href="{% url 'crud:eliminarProducto' producto.id %}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                    class="bi bi-trash m-2" viewBox="0 0 16 16" style="cursor: pointer;">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </a>
                        </td>


                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
    {% endblock %}